.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 40vw;
    height: 100vh;
    margin: 0 auto;
    gap: 0.1rem;
}

.container input:where([type="email"], [type="password"]) {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    outline: none;
}

.container button:where([type="submit"]) {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.5;
    background-color: rgb(199, 0, 172);
    cursor: pointer;
    color: white;
}